<h3>Novo Jornal</h3>
<hr>
<form [formGroup]="formProduto" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
  </div>
  <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert alert-danger">
    <div *ngIf="nome.errors?.required">
      O nome é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label for="edicao">Descrição</label>
    <input type="text" class="form-control" id="descricao" placeholder="Descrição do Jornal" formControlName="descricao">
  </div>
  <div class="form-group">
    <label for="edicao">Edição</label>
    <input type="number" class="form-control" id="edicao" placeholder="Edição do Jornal" formControlName="edicao">
  </div>
  <div class="form-group">
    <label for="ano">Ano</label>
    <input type="number" class="form-control" id="ano" placeholder="Ano do Jornal" formControlName="ano">
  </div>

  <!-- O controle abaixo é para fazer upload do arquivo -->
  <div class="form-group" *ngIf="imgUrl == ''">
      <label class="form-control-label">Jornal</label>
     <input type="file" class="upload" accept="application/pdf" (change)="upload($event)"/>
   </div>

   <!-- A div abaixo é para exibir a imagem do produto -->
    <div class="form-group" *ngIf="imgUrl != ''">
     <img [src]="imgUrl" class="img-thumbnail d-block" style="max-width: 100px;">
     <button class="btn btn-danger mt-2" type="button" (click)="removerImg()">
        Remover Jornal
      </button>
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
  <a class="btn btn-secondary ml-2" [routerLink]="['/produtos']">Voltar</a>

</form>
